@{
    Exception ex = ViewData["exception"] as Exception;
}
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Hata1</title>
    <h1>Hata Mesajı : @ex.Message</h1>
</head>
<body>
</body>
</html>
