
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    This page does not feed from any layout.
    <partial name="_MenuPartialView"/>
</div>
</body>
</html>