@{
    ViewData["Title"] = "ExampleController Index Sayfası";
    Layout = "ExampleLayout";
}

@section header{
    <p>Bu Kodlar header'ın hemen altına eklenecek</p>
}

<div>Bu sayfa Example Cotroller => Index Sayfası</div>
