@{
    ViewBag.Title = "title";
    Layout = "LayoutExample";
}

<h2>Layout Example</h2>

@section header 
{
    This row is going to be under header    
}

@section footer
{
    This row is going to be under footer
}
