p::first-line{
    font-weight: bold;
    color: darkred;
    word-spacing: 2px;
    letter-spacing: 2px;
}

p::first-letter{
    font-size: 50px;
}

ul li{
    padding: 10px;
    margin-bottom: 10px;
}

ul li:first-child{
    background-color: aliceblue;
}

ul li:last-child{
    background-color: aqua;
}

a:visited{
    color: fuchsia;
}

a:hover{
    color: whitesmoke;
}